{# Per-region ACL: association_cortex #}
topic write hive/cognitive/association/integrate
topic read  hive/sensory/#
topic read  hive/cognitive/association_cortex/#
topic write hive/cognitive/association_cortex/#
