{# Per-region ACL: auditory_cortex #}
topic read  hive/hardware/mic
topic write hive/sensory/auditory/text
topic write hive/sensory/auditory/features
topic write hive/sensory/auditory/events
topic read  hive/cognitive/auditory_cortex/#
topic write hive/cognitive/auditory_cortex/#
