{# Per-region ACL: basal_ganglia #}
topic write hive/habit/suggestion
topic write hive/habit/learned
topic read  hive/habit/reinforce
topic write hive/motor/intent
topic write hive/motor/speech/intent
topic read  hive/sensory/#
topic read  hive/cognitive/basal_ganglia/#
topic write hive/cognitive/basal_ganglia/#
