{# Per-region ACL: hippocampus #}
topic read  hive/cognitive/hippocampus/query
topic write hive/cognitive/hippocampus/response
topic read  hive/cognitive/hippocampus/encoding_hint
topic read  hive/sensory/#
topic read  hive/metacognition/reflection/response
topic read  hive/system/spawn/proposed
topic read  hive/cognitive/hippocampus/#
topic write hive/cognitive/hippocampus/#
