{# Per-region ACL: insula #}
topic write hive/interoception/compute_load
topic write hive/interoception/token_budget
topic write hive/interoception/region_health
topic write hive/interoception/felt_state
topic read  hive/system/metrics/#
topic read  hive/system/region_stats/#
topic read  hive/cognitive/insula/#
topic write hive/cognitive/insula/#
