{# Per-region ACL: thalamus #}
topic write hive/cognitive/thalamus/attend
topic write hive/attention/salience
topic read  hive/sensory/#
topic read  hive/cognitive/thalamus/#
topic write hive/cognitive/thalamus/#
